#mapdiv {
	width:800px; height:450px;
}
div.olControlAttribution {
	bottom:3px;
}
#topbar{
//	display: inline;
	height: 110px;
	width: 100%;
	background-color: #E0FFFF;
}
h1{
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   	font-weight: 300;
}
p{
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   	font-weight: 300;

}
.btn {
  background: #E0FFFF;
  color: #0000;
  display: inline-block;
  border-radius: 5px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2.5em;
  padding: 0 3em;
  text-decoration: none;
}

.btn:hover {
  background:  #BBFFFF;
}
